.title-slide {
  background-image: url(figuras/logo-mg.png);
  background-size: cover;
  opacity: 50%;
}

.title-slide h1 {
  /* vertical-align: bottom; */
  vertical-align: center !important;
}

.large { font-size: 180% }
.small { font-size: 70% }
