/* default css */

/*@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab");*/

p {
  font-family: 'Roboto Mono', sans-serif;
  text-align: justify;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #37474f;
  color: #ffffff;
  /*background-image: url(../img/back.png);*/
  background-size: auto;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 80%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* title slide */

.title-slide {
  background-image: url(img/logo-mg.png);
  background-size: cover;
  /*background-image: url(img/back.png);*/
  /*background-color: #484848;*/
  background-color: #37474f;
  /*background-size: auto; */
  opacity: 50%;
}

.title-slide h1 {
  /* vertical-align: bottom; */
  vertical-align: center !important;
}

.title-slide h3 {
  font-size: 75%;
  /* vertical-align: bottom; */
}

.title-slide h3 #lucas-da-cunha-godoy-br-augusto-felix-marcolin-br-douglas-r-mesquita-azevedo-br-luis-gustavo-silva-e-silva-br- {
  margin-top: 100px;
}

.title-slide .remark-slide-number {
  display: none;
}

.pull-left img, video, iframe, 
.pull-right img, video, iframe {
  max-width: 100%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 19%;
  padding: 1px;
}

.column2 {
  float: left;
  width: 49%;
  padding: 1px;
}

.column4 {
  float: left;
  width: 24%;
  padding: 1px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

ol li { padding: 5px 0px; }
ul li { padding: 5px 0px; }

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
  }

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:50%;
  }
  
    .centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

div.my-header {
    background-color: #37474f;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90px;
    width: 100%;
    text-align: left;
}

div.my-footer {
    background-color: #37474f;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}